.todoList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h2 {
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fefeff;
  background-color: rgba(116, 161, 110, 0.979);
  border-radius: 6px;
  box-shadow: 0px 5px 5px rgba(168, 172, 176, 0.19);
}

.container {
  max-width: 150rem;
  padding: 0 1rem;
  margin: 2rem auto 4rem;
}
